body {
  margin-top: 1cm;
  /* background-color: darkblue; */
  /* /background-image: url("T:/PersonalProjects/PersonalWebSite/src/Images/backgound_image2.jpg"); */
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
  overflow-x: scroll;

}

.menu {
  font-weight: 900;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(116, 85, 45);
}

.subMenu{
  background-color: rgba(137, 100, 51, 0.693);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  /* Three equal columns */
  grid-gap: 25px;
  /* Gap between grid cells */

}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr ;
  
  /* Three equal columns */
  grid-gap: 25px;
  /* Gap between grid cells */

}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  

  font-size: 0.5cm;
  color: rgb(16, 7, 83);
  background-color: rgba(241, 191, 138, 0.499);
}

.grid-item:hover {
  transform: scale(1.08);
}

.grid-item img {
  width:auto;
  /* max-width: 200px; */
  height: 200px;

}

/* .grid-item img:hover {
  transform: scale(1.8);
} */



.grid-item span {
  

}

.grid-item text{
  vertical-align: bottom;
  
}

#carbonated_drinks img{
  height: 200px;
  /* size: 100%; */
}

.item1{
  grid-column: 1/4;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.64cm;
  color: rgb(16, 7, 83);
  background-color: rgba(93, 183, 140, 0.447);
}

.itemDetails{
  grid-column:1/1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.64cm;
  color: rgba(70, 6, 32, 0.644);
  background-color: rgba(205, 255, 231, 0.447);
}


nav {
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(4, 4, 65);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #d8d4d4;
}

nav ul li a:hover {
  background-color: #504df1;
  padding: 5px;
 font-size: 20px;
}

nav ul li.cart {
  position: absolute;
  top: 0;
  right: 10px;
  padding: right 10px; ;
 
}

.navRight{
  float: right;
  
}
.navRight img{
  position: relative;
  display: inline-block;
  flex-direction: row;
  height: 0.8cm;
  width: auto;
  /* padding-top: 5px; */

}


.navRight a{
  
  display: block;
  
  /* padding: 10px; */
}

.stickyMenu {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 9999;
}

#cartImage{
  padding-top: 5px;
}


.coverImage-container {
  position: relative;
  display: inline-block;
}

.cover-img{
  width: 100%;
  height: 15cm;
  filter: contrast(0.22);
  filter: blur(0.1);
}

.coverImage{
  grid-column:1/1;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.64cm;


}

.coverImageGrid{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(3, 1fr); /* Adjust the number of rows as needed */
  gap: 10px; /* Adjust the gap between grid items */
}

.coverGridItem{
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); Adjust the background color and opacity */
    text-align: center;
    padding: 10px;
  }
}











.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img{
  width: 100%;
  height: 15cm;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(3, 1fr); /* Adjust the number of rows as needed */
  gap: 10px; /* Adjust the gap between grid items */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity */
  text-align: center;
  padding: 10px;
}






